ion-content {
    background: -webkit-linear-gradient(red, yellow, green);
    background: -o-linear-gradient(red, yellow, green);
    background: -moz-linear-gradient(red, yellow, green);
    background: linear-gradient(red, yellow, green);
}

p {
  color: white;
  font-style: italic;
}

h3 {
  color: white;
  font-style: italic;
  font-size: 2em;
}

button {
  color: black;
}
